.main{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(#bdb2ff,#ffc6ff);
    background-size: 100%;
    background-attachment: fixed;
}
h1#title {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    filter: drop-shadow(3px 3px white);
    font-size: 48px;
    border: none;
    border-bottom: 5px dotted black;
}
p#description{
    text-align: center;
}
#survey-form{
    margin: 1em;
    display: flex;
    flex-direction: column;
    background-color: #9bf6ff;
    border-radius: 15px;
    padding: 20px;
    filter: drop-shadow(10px 10px 4px #acacf7);
    width: 60%;
}
.form {
    margin: 0.5em;
    display: flex;
    flex-direction: column;
}
input {
    border: none;
    border-bottom: 2px solid red;
    padding: 12px 20px;
    border-radius: 50px;
    font-size: 17px;
}
textarea{
    margin-top: 1em;
    height: 72px;
    border-radius: 12px;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid red;
    padding: 1em;
}

select {
    height: 3em;
    border: none;
    border-bottom: 2px solid red;
    border-radius: 10px;
    font-size: 18px;
}
option{
    font-size: 18px;
}


label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.check {
}

button {
    border-radius: 4px;
    background-color: #caffbf;
    border: none;
    color: #000000;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  button:hover span {
    padding-right: 25px;
  }
  
  button:hover span:after {
    opacity: 1;
    right: 0;
  }